<div class="show-card w-30 p-3">
  <h1><%= @cocktail.name %></h1>

  <% if @cocktail.photo.attached? %>
    <%= cl_image_tag @cocktail.photo.key, height: 300, width: 300, crop: :fill  %>
  <% end %>

  <% @cocktail.doses.each do |dose| %>
    <p><%= dose.description %></p>
    <p><%= dose.ingredient.name %></p>
  <% end %>

  <div class="add-edit-btn mt-5 mr-2">
    <%= link_to "Add dose", new_cocktail_dose_path(@cocktail), class: "btn btn-outline-primary"%>
    <%= link_to "Show all cocktails", '/cocktails', class: "btn btn-outline-primary"%>
  </div>
</div>
